.main-div {
  /* width: 40rem; */
  margin: auto;
}
.comment {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.comment-section {
  padding: 15px;
  margin: 20px;
  border-radius: 7px;
}

.submit-btn {
  background-color: rgb(0, 73, 231);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 25px;
}

.my-img {
  max-width: 80%;
  margin-bottom: 25px;
}
textarea {
  margin: 15px;
}

.shadow {
  box-shadow: -3px 7px 54px -36px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -3px 7px 54px -36px rgba(0, 0, 0, 1);
  -moz-box-shadow: -3px 7px 54px -36px rgba(0, 0, 0, 1);
}

/* single comment section ==== */
.profile-info {
  display: flex;
  justify-content: center;
}
.random-img {
  max-width: 100%;
}
.name {
  padding: 10px;
}
